head
	meta(
		charset="UTF-8"
	)
	meta(
		name="viewport"
		content="width=device-width, initial-scale=1.0"
	)
	link(
	href="../css/owl.carousel.css"
	type="text/css"
	rel="stylesheet"
	)
	link(
		href="../css/style.css"
		type="text/css"
		rel="stylesheet"
	)

	link(
	href="../css/response.css"
	type="text/css"
	rel="stylesheet"
	)

	link(
	href="../css/jsCalendar.css"
	type="text/css"
	rel="stylesheet"
	)
	script(
		src="../js/jquery-3.3.1.min.js"
	)
	script(
		src="../js/jquery.parallaxify.js"
	)
	script(
		src="../js/jquery.mask.js"
	)
	script(
		src="../js/clamp.js"
	)

	script(
		src="../js/slider.js"
	)
	script(
		src="../js/owl.carousel.js"
	)
	script(
		src="../js/control-style.js"
	)
	script(
		src="../js/jsCalendar.js"
	)
	script(
		src="../js/jsCalendar.lang.ru.js"
	)
	script(
	src="../js/common.js"
	)